@{
    ViewData["Title"] = ViewBag.ArticleName ?? "Documentation";
}

<div class="row">
    <div class="col-md-9">
        @Html.Raw(ViewBag.HtmlContent)
    </div>
    <div class="col-md-3">
        <h5>Documentation</h5>
        <ul class="list-unstyled">
            <li><a asp-action="Article" asp-route-name="about">About</a></li>
        </ul>
        <h5 class="mt-3">Reference Documents</h5>
        <ul class="list-unstyled">
            <li><a href="~/docs/HowToCalculateAGMP.pdf" target="_blank">How To Calculate A GMP</a></li>
            <li><a href="~/docs/GMPConversionBill20211.pdf" target="_blank">GMP Conversion Bill</a></li>
            <li><a href="~/docs/LGPSPensionIncreases.pdf" target="_blank">LGPS Pension Increases</a></li>
            <li><a href="~/docs/PASAGMPEqualisingWPReport.pdf" target="_blank">PASA GMP Equalising Report</a></li>
            <li><a href="~/docs/PSAWorkedExamples.pdf" target="_blank">PSA Worked Examples</a></li>
            <li><a href="~/docs/GMPECalculatorDraft1.xlsx" target="_blank">GMPE Calculator Spec (Excel)</a></li>
        </ul>
    </div>
</div>
