@{
    ViewData["Title"] = "Home";
}

<h1>Pension Portal</h1>
<p class="lead">ASP.NET Core MVC proof-of-concept for modernised pension calculation architecture.</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">People</h5>
                <p class="card-text">Manage the list of people and their dates of birth.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Calculations</h5>
                <p class="card-text">Run age calculations using the C# calculation library.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Results</h5>
                <p class="card-text">View calculation history and export results as CSV.</p>
            </div>
        </div>
    </div>
</div>
